<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metric Imperial Converter</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Metric Imperial Converter</h1>
    <hr>
    <div id="code">
        <code>
            /api/convert?input=4gal <br>
            /api/convert?input=1/2km <br>
            /api/convert?input=5.4/3lbs <br>
            /api/convert?input=kg
        </code>
        <br><br><br>
        <code>
            { initNum: 3.1, initUnit: 'mi', returnNum: 4.98895, returnUnit: 'km', string: '3.1 miles converts to 4.98895 kilometers' }
        </code>
    </div>
    <hr>
</body>

</html>