body, html {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
    color: #dd4814;
    margin: 50px 0;
}

hr {
    width: 70%;
}

div {
    margin: 30px 0;
    font-size: 15px;
}

code {
    font-family: monospace;
    background-color: #ddd;
}

input {
    outline: none;
    border: 1px solid #5e0080;
}

input[type=submit] {
    background-color: #fff;
    color: #dd4814;
}

input[type=submit]:hover {
    color: cyan;
}